*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}

:root{
   --primary-color: #ff0000;
   --secondary-color:#282421;
}

.App{
   background: #000;
   color: #fff;
}

.header{
   width: 100%;
   height: 100vh;
   background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/header-image.png);
   background-size: cover;
   background-position: center;
}

.title-bar{
   padding: 25px 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.logo{
   width: 175px;
   height: 45px;
   background: url(/images/logo.png);
   background-size: cover;
   background-position: center;
}

.title-boxes{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 15px;
}

.language-toggle{
   font-size: 15px;
   font-weight: 10;  
   border: solid white 1px;
   padding:10px 10px;
   border-radius: 4px;
   margin-right: 25px;

}
.language-toggle i{
   padding:0px 5px;
}

.sign-in-box{
   background-color: var(--primary-color) ;
   padding: 10px 20px;
   border-radius: 4px   ;
}

.main-content{
   width: 100%;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.main-title-head{
   width: 610px;
font-size: 60px;
font-weight: 700;
text-shadow:10px 10px 40px rgba(255, 255, 255, 0.4);
}

.sub-head{
   padding: 20px;
   font-size: 25px;
   font-weight: lighter;
}

.email-text{
   font-size: 17.5px;
   padding: 20px;
}

.email-box{
width: 700px;
height: 70px;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #fff;
}

#email-scan{
   display: flex;
align-items: center;
width: 100%;
padding-left: 10px;
font-size: 15px;


}

.get-started{
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center; 
   width: 300px;
   font-size: 25px;
   font-weight: 100;
   color: white;
   border: none;
}

.get-started i{
   padding-left: 10px;
}


.section{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 20px 150px 70px 200px;
   border-top: solid var(--secondary-color) 10px;
}

.text-section{
padding-top: 100px;
   width: 500px;
   font-weight: 0;
}



.section-head{
   font-size: 50px;
   font-weight: 700;
}

.section-sub-head{
   font-size: 25px;
   padding-top: 40px;
}



.img-section-one{
   width: 550px;
   height: 400px;
   background: url(/images/feature-1.png);
   background-size: 550px 400px;
   background-position: top;
   
}

.img-section-two{
  
   width: 400px;
   height: 300px;
   background: url(/images/feature-2.png);
   background-size: 400px 300px;
   background-position: center;
}

.img-section-three{
   width: 500px;
   height: 400px;
   background: url(/images/feature-3.png);
   background-size: 525px 400px;
   background-position: center;
}

.img-section-four{
   width: 550px;
   height: 400px;
   background: url(/images/feature-4.png);
   background-size: 550px 400px;
   background-position: top;
}


.section-inverted{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 50px 150px 100px 150px;
   border-top: solid var(--secondary-color) 10px;
}

.section-inverted .text-section{
width: 550px;
padding-top: 60px;
}


.faq-section{
   width: 100%;
   height: fit-content;
   border-top: solid var(--secondary-color) 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 75px;
}

.faq-section .section-head{
padding-bottom: 30px;
}

.question-tag{
   display: flex;
   justify-content: space-between;
   width: 900px;
   padding: 25px;
   background-color: #262626  ;
   margin: 5px;
   font-size: 25px;
}

.faq-section .email-text{
   padding: 50px 0 20px 0;
}